body {
	background-color: #F7F4EA;
	color: #2E0E02;
}

.bg-image {
	/*background-image: url('../images/wood_fallen.jpg');*/
	background-position: center center;
	background-size: cover;
	min-height: 42vh;
	font-family: 'Lato', Helvetica;
}

h1 {
	font-family: 'Averia Gruesa Libre', sans-serif;
}

h2 {
	font-family: 'Lato', Helvetica, sans-serif;
	/*padding-top: 5vh;	*/
}

p {
	font-family: Helvetica, sans-serif;
}

a:hover {
	text-decoration: none;
}

/*persistant navigation*/


.row-menu {
	background-color: black;
	opacity: .8;
	height: 8vh;
	display: flex;
	align-items: center;

	margin-bottom: 3vh;

}

#logo p {
	text-align: left;
	margin: 0;
}

#nav {
	text-align: center;
}

#nav a {
	padding-left: 10px;
	padding-right: 10px;
}

#social {
	text-align: right;
}
#social i {
	padding-left: 15px;
}

#admin-alert {
	background-color: red;
}

.success {
	background-color: green;
	opacity: .8;
	font-weight: bold,
}

.danger {
	background-color: red;
	opacity: .8;
	font-weight: bold,
}


/*home page*/

#bg-image-text {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 42vh;
}

#home-gallery {
	padding-top: 20px;
	min-height: 45vh;
}

img {
	/*max-width: 100%;*/
	/*max-height: 100%;*/
	/*padding-top: 10px;*/
	padding-bottom: 20px;

}

#gallery-link {
	height: 5vh;
}


/*about page*/

#family-portrait {
	padding-top: 10px;
}

.flex {
	display: flex;
}

/*contact page*/

i.glyphicon-ok {
	padding: 0px;
	padding-left: 5px;
}

h4 {
	padding-top: 3vh;
}

hr {
	padding-top: 5vh;
	opacity: .3;
	border-style: solid none;
  	border-width: 1px 0;
}