{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block title %}Contact{{ block.super }}{% endblock %} 

{% block contact-content %}

<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-7">
            <h2>Contact Us</h2>
            <p>Ut semper eros et augue sollicitudin, bibendum posuere quam lacinia. Donec malesuada facilisis iaculis. Curabitur orci est, eleifend a dapibus id, semper eu magna.</p>
            {% if messages %} 
                <div class="messages">
                    {% for message in messages %} 
                    <div{% if message.tags %}
                        class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <form role="form" action="" method="post">
            {% csrf_token %}
<!--                 <div class="well well-sm">
                    <strong> Required Field</strong><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                </div> -->
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="contact_name">Your Name</label>
                        <input type="text" class="form-control" name="contact_name" id="contact_name" placeholder="Your Name" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="contact_email">Your Email Address</label>
                        <input type="email" class="form-control" id="contact_email" name="contact_email" placeholder="Your Email Address" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="content">Message</label>
                        <textarea name="content" id="content" placeholder="Message" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
     

                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </form>
        </div>

        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
            <hr class="featurette-divider visible-xs">
            <adress>
                <h3>Live Edge Studio</h3>
                <p>located in Washington DC</p>
                <a href="mailto:james@liveedgestudio.com"target="_blank"><p><i class="glyphicon glyphicon-envelope"></i> &nbsp;james@liveedgestudio.com</p></a>
                <p><i class="fa fa-phone"></i>  &nbsp;(301) 767-7257</p>
            </adress>
        </div>
    </div>
</div>
{% endblock contact-content %}

{% block end-link %}
{% endblock end-link %}